<%= @game.player1.name %> attacked <%= @game.player2.name %>! <br>
<%= @game.player1.name %> HP: <%= @game.player1.hp %> <br>
<%= @game.player2.name %> HP: <%= @game.player2.hp %>

<form action='/play'>
  <input type='submit' value='go next round!'>
</form>
